/* ARTICLE / MISION, VISION*/


.row {
    padding-top: $mr;
    align-items: center;

    .size {
        font-size: $icon;
        padding-bottom: $pb;
        color: $colorprimario;
    }

    .instruct,
    .entrenamiento {
        padding-bottom: calc(#{$pb} + 10px);
    }
}