//uso de mixin y condicionales para Heading
@mixin heading-styles($level) {
    color: $colorprimario;
    font-variant: $fontvariant1;
    text-align: center;

    @if $level == h1 {
        font-size: $fontsize1;
        margin-top: $mt;
    }

    @else if $level == h2 {
        padding-bottom: $pb;
        font-size: $fontsize2;
    }

    @else if $level == h3 {
        margin-top: $mr;
        padding-bottom: $pg;
        font-size: $fontsize3;
    }

    @else if $level == h4 {
        margin-top: $pg;
        font-size: $fontsize4;
    }
}

.fondohorario{
    background-image: url(../imagenes/fondo-de-los-horarios.jpeg);
    background-position: center;
    background-size: cover;

    h1 {
        @include heading-styles(h1);
    }
}

.calendario{
    $colorbase:rgba(0, 0, 0, 0.400) ;
    display: block;
    width: $w1;
    padding-top: $pb;
    padding-bottom: calc(#{$pb} - 10px);
    border-radius: $pb;
}

.calendarioimg {
    margin-top: $pb;
    margin-left: 350px;
    border-radius: $bordersize;

    &:hover {
        box-shadow: 4px 4px 6px 6px $colorprimario;
        transform: translateY(-5px);
    }
}
