/* SECTION CTA */

.card-body {
    background-color: $colorsecundario;
    margin-top: $mt;
    border: $border2;
    border-radius: $bordersize2;

    .CTA {
        font-size: $fontsize4;
        color: $colorprimario;
    }

    .btn {
        @extend .btn;

        &:hover {
            background-color: $colorprimario;
            color: $colorsecundario;  
        }
    }
}