/* FOOTER */
footer {
    border-top: $border2;
    border-radius: $bordersize;
    width: $w1;
    margin-top: 40px;
    margin-bottom: $pg;
    background: $colorsecundario;
    text-align: center;
    height: $height;

    .logo-imagen {
        @extend .logo;
    }

    .somos {
        margin-top: $mr;
    }
}

h4 {
    @include heading-styles(h4);
    margin-top: $pg;
}

.servicios p {
    margin: 5px;
    text-decoration: none;
}

.nos {
    margin-bottom: $mr;
}

.nos2 a {
    display: flex;
    flex-direction: column;
    color: $colortypo1;
    margin-bottom: $mr;

    .nos2 a:hover {
        color: $colortypo1;
        text-decoration: underline;
    }
}

.contacto-item {
    display: block;

    .colorr {
        color: #0FC6B5;
    }
}

.telefono {
    margin-top: $p;
    color: $colortypo1;
    text-decoration: none;
}

.redes {
    color: $colorprimario !important;
    letter-spacing: $mt;
    size: calc(#{$icon} + 60px);
    justify-content: center;

    .redes:hover {
        color: $colortypo1 !important;
    }
}

.derechos {
    padding-top: $mr;
}