/* HEADER */
.scrolled {
    background-color: $colorsecundario;
    transition: background-color 0.3s;
}

%clicked-styles {
    color: $colortypo1 !important;
    background-color: $colorbase;
    border-radius: $bordersize;
}
#clicked {
    @extend %clicked-styles;
}
.container-fluid {
    padding: $p !important;
}

.logo {
    height: $logo-h;
    width: $logo-w;
    padding: $p;
}

.nav-link {
    font-variant: $fontvariant1;
    margin-right: $mr;
    font-size: $fontsize4;
    color: $colorprimario !important;
    transition: color 0.3s, background-color 0.3s, border-radius 0.3s;

    &:hover {
        color: $colortypo1 !important;
        background-color: $colorbase;
        border-radius: $bordersize;
    }
}

/* CARRUSEL/MAIN*/

.marg {
    margin-top: $pg;
}

@mixin heredarestilosflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-item img {
    @include heredarestilosflex;
    height: 700px;
    width: $w1;
    object-fit: cover;
    filter: brightness(0.6);
}

.carousel-caption {
    @include heredarestilosflex;
    flex-direction: column;
    background-color: $colorbase;
    top: $w2;
    left: $w2;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 180px;
    border-radius: $bordersize2;
    padding: $p;

    .btn {
        margin-top: $mt;
        border: $border1;
        color: $colortypo1;
        text-transform: $fontbtn;
        border-radius: $borderbtn;

        &:hover {
            background-color: $colorprimario;
            color: $colorsecundario;
        }
    }

    h1 {
        @include heading-styles(h1);
    }
}

@mixin RS-BTN {
    bottom: $bottom;
    right: $right;
    display: flex;
    z-index: $z-index;
}

.social-buttons {
    @include RS-BTN;
    position: absolute;
    flex-direction: column;

    a {
        margin-bottom: $mt;
        background-color: $colorsecundario;
        color: $colortypo1;
        border-radius: $w2;
        font-size: calc(#{$icon} - 10px);
        text-align: center;
        width: $icon;
        height: $icon;

        :hover {
            background-color: $colorprimario;
            color: $colorsecundario;
            border-radius: $w1;
        }
    }
}

/* FOOTER */
footer {
    border-top: $border2;
    border-radius: $bordersize;
    width: $w1;
    margin-top: 40px;
    margin-bottom: $pg;
    background: $colorsecundario;
    text-align: center;
    height: $height;

    .logo-imagen {
        @extend .logo;
    }

    .somos {
        margin-top: $mr;
    }
}

h4 {
    @include heading-styles(h4);
    margin-top: $pg;
}

.servicios p {
    margin: 5px;
    text-decoration: none;
}

.nos {
    margin-bottom: $mr;
}

.nos2 a {
    display: flex;
    flex-direction: column;
    color: $colortypo1;
    margin-bottom: $mr;

    .nos2 a:hover {
        color: $colortypo1;
        text-decoration: underline;
    }
}

.contacto-item {
    display: block;

    .colorr {
        color: #0FC6B5;
    }
}

.redes {
    color: $colorprimario !important;
    letter-spacing: $mt;
    size: calc(#{$icon} + 60px);
    justify-content: center;

    .redes:hover {
        color: $colortypo1 !important;
    }
}

.derechos {
    padding-top: $mr;
}

/* BTN BACK TO TOP */

@mixin RS-BTN {
    bottom: $bottom;
    right: $right;
    z-index: $z-index;
}

.back-to-top-btn {
    @include RS-BTN;
    position: fixed;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: $colorprimario;
        color: $colorsecundario;
    }
}

body::after {
    content: '';
    display: block;
    height: calc(#{$icon} - 20px);
}

body:hover .back-to-top-btn {
    display: block;
}