@media (max-width: 690px) {
    .carousel-caption {
        width: 60%;
        height: 250px;
    }
}

/* SECTION */
@media screen and (max-width: 1200px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
}

/* ARTICLE/MISION/VISION */

@media screen and (max-width: 767px) {
    .col-12 {
        text-align: center;
    }

    .img-column2 {
        max-width: $w1;
        height: auto;
        padding: $pb;
    }
}

@media screen and (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
    }

    .img-column2 {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 992px) {
    .col-md-4 {
        flex: 0 0 33.3333%;
    }
}


/* GALERIA */
@media only screen and (max-width: 780px) {
    .galeria {
        grid-template-columns: repeat(1fr 1fr 1fr);
        margin: 0;
    }

    .item3 {
        grid-column: 1/4;
        grid-row: 1/2;
    }

    .item1 {
        grid-row: 2/4;
    }

    .item5 {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .item6 {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    .item8 {
        grid-column: 2/6;
        grid-row: 3/6;
    }
}

@media only screen and (max-width: 445px) {
    .galeria {
        grid-template-columns: 1fr 1fr;
    }

    .item3 {
        grid-column: 2/3;
    }

    .item4 {
        grid-column: 1/1;
    }

    .item5 {
        background-position: left;
    }

    .item6 {
        display: none;
    }
}

/* MEMBRESIA */

@media (max-width: 1246px) {
    .contenido {
        justify-content: center;
        margin-left: $mr;
    }
}

@media (max-width: 985px) {
    .contenido {
        justify-content: center;
        margin-left: 180px;
    }
}

@media (max-width: 775px) {
    .contenido {
        justify-content: center;
        margin-left: 100px;
    }
}

@media (max-width: 585px) {
    .planesdesc {
        max-width: $w1;
        margin-left: $pg;
    }

    .contenido {
        margin-right: $mt;
        margin-left: 40px;
    }
}

/* INSTRUCTORES */
@media (max-width: 1010px) {
    .card {
        width: auto;
    }

    .card-container {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 803px) {
    .card-container {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 444px) {
    .card-container {
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }

    .card {
        width: auto;
    }
}

@media (max-width: 364px) {
    .card-container {
        margin-left: 0;
        justify-content: center;
        margin-left: 0;
    }
}

/* CALENDARIO */
@media only screen and (max-width: 1300px) {
    .calendarioimg {
        margin-left: 150px;
    }
}

@media only screen and (max-width: 1040px) {
    .calendarioimg {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 923px) {
    .calendarioimg {
        width: 75%;
    }
}

/* PRODUCTOS */

@media (max-width: 1010px) {
    .card {
        width: 100%;
    }

    .card-container {
        margin-left: 0;
    }
}

/* TESTIMONIO */
@media (max-width: 991px) {
    .row.align-items-center {
        flex-direction: column-reverse;
    }

    #position {
        text-align: center !important;
    }

    .col-lg-4 {
        width: 50%;
    }

    .col-lg-8 {
        margin-bottom: $mt;
    }

    .row {
        padding-bottom: 10px;
        margin-bottom: 0;
        text-align: center;
    }

    .row.imagenpeque {
        justify-content: center;
        text-align: center;
    }

    .nav-tabs .nav-item {
        width: 25%;
        text-align: center;
    }

    .nav-tabs .nav-item a {
        display: inline-block;
    }

    .imagenpeque {
        gap: 40px;
        margin-top: 5px;
        padding-top: $pg !important;
    }
}

@media (max-width: 765px) {
    .col-lg-4 {
        width: 100%;
    }
}

@media (max-width: 586px) {
    .imagenpeque .nav-tabs .nav-item {
        width: 50%;
    }
}

/* FOOTER */
@media (max-width: 960px) {
    .col-lg-3 {
        padding-bottom: 20px;
    }
}

/* BTN BTP */

@media (max-width: 783px) {
    .back-to-top-btn {
        display: none;
    }
}