* {
    margin: $pg;
    padding: $pg;
    box-sizing: border-box;
    font-family: $fontprincipal;
}

body {
    margin: $pg;
    padding: $pg;
    background-color: $colorsecundario;
    color: $colortypo1;

    &::-webkit-scrollbar {
        width: 7px;

        &-thumb {
            background: $colorprimario;
            border-radius: 5px;
        }
    }
}

::selection {
    background-color: $colorprimario;
    color: $colorsecundario;
}