/* SECTION */

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $mr;
    justify-content: center;

    .imagenes {
        position: relative;
        overflow: hidden;

        .size {
            height: 300px;
            border-radius: $bordersize;
            max-width: $w1;

            &:hover {
                border: $border3;
                border-radius: $bordersize;
            }
        }
    }
}