/* TESTIMONIO */
article{
    margin-bottom: $mr !important;
}
.img2 {
    height: $img;
    border-radius: $bordersize;
    max-width: $w1;
}

.fondo2 {
    margin-bottom: 10px;
    background-image: linear-gradient(0deg, #080808 0%, #0fc6b5 40%, #060606 90%);
    
    .estruct {
        padding: $mr;
        margin-bottom:50px ;
        background-color: $colorbase;
        border-radius: $bordersize2;
    
    }
    .active {
        border-radius: $bordersize;

        .row {
            padding-top: 0;
            padding-bottom: 40px;

            .col-lg-4 {
                padding-top: $p;

                img {
                    height: $img;
                    border-radius: $bordersize;
                    max-width: $w1;
                }
            }
        }
    }
}
.col-lg-8{
    margin-bottom:80px ;

    .frase{
        font-size: $fontsize4;
    }
    #position {
        text-align: start;
        margin-top:$mt ;
        margin-bottom:$mt ;
    }
    .experiencia{
        margin-bottom:$mt ;
    }
}


.imagenpeque {
    position: relative;
    margin-top: -135px;

    .nav-tabs {
        border-bottom: none;
        margin: $pg;
    }

    .imagen {
        width: 100px;
        height: $height;
    }
}
