
.fondoproduct {
    background-image: url(../imagenes/productos.png);
    background-position: top;
    background-size: cover;
    padding: 60px;

    h1 {
        @include heading-styles(h1);
    }
}

.img2 {
    height: $img;
    border-radius: $bordersize;
    max-width: $w1;
}

.tamaño {
    width: 100%;
}

.btn {
    @extend .btn;
}