#clicked {
    @extend %clicked-styles;
}

.fondoproduct {
    background-image: url(../imagenes/fondo-de-la-tienda.png);
    background-position: top;
    background-size: cover;
    padding: 100px;

    h1 {
        @include heading-styles(h1);
    }
}

.card-img-bottom {
    border: 2px solid $colorsecundario;
    border-radius: $bordersize;
}

.tamaño {
    width: 100%;
}

.btn {
    @extend .btn;
}