//uso de mixin y condicionales para Heading
@mixin heading-styles($level) {
    color: $colorprimario;
    font-variant: $fontvariant1;
    text-align: center;

    @if $level==h1 {
        font-size: $fontsize1;
        margin-top: $mt;
    }

    @else if $level==h2 {
        padding-bottom: $pb;
        font-size: $fontsize2;
    }

    @else if $level==h3 {
        margin-top: $mr;
        padding-bottom: $pg;
        font-size: $fontsize3;
    }

    @else if $level==h4 {
        margin-top: $pg;
        font-size: $fontsize4;
    }
}

.btn {
    margin-top: $mt;
    border: $border1;
    color: $colortypo1;
    text-transform: $fontbtn;
    border-radius: $borderbtn;

    &:hover {
        background-color: $colorprimario;
        color: $colorsecundario;
    }
}

.fondoproduct {
    background-image: url(/imagenes/productos.png);
    background-position: top;
    background-size: cover;
    padding: 60px;

    h1 {
        @include heading-styles(h1);
    }
}

.img2 {
    height: $img;
    border-radius: $bordersize;
    max-width: $w1;
}

.tamaño {
    width: 100%;
}

.btn {
    @extend .btn;
}