@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Noto+Serif+TC:wght@700&display=swap');

/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Noto Serif TC', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Noto Sans', sans-serif;
}

 /* HEADER */
.scrolled {
    background-color: black;
    transition: background-color 0.3s;
}

.logo{
    height: 70px;
    width: 70px;
    padding: 0;
}

.nav-link{
    font-variant: small-caps;
    margin-right: 20px;
    font-size: 25px;
    color:#0FC6B5 !important
}
.nav-link:hover{
    color: whitesmoke !important;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

body{
    margin:0;
    padding:0;
    background-color: rgba(0, 0, 0, 0.950);
    color: whitesmoke;
}
.social-buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  
  .social-buttons a {
    margin-bottom: 10px;
    background-color:black;
    color: whitesmoke;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    width: 40px;
    height: 40px;
  }
  
  .social-buttons a:hover {
    background-color:#0FC6B5; 
    color: black;
  }
/* CARRUSEL/MAIN*/

.d-item img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;;
    width: 100%;
    object-fit: cover;
    filter: brightness(0,6);
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 180px;
    border-radius: 30px;
    padding: 10px;
}
.btn{
    margin-top: 10px;
    border: 3px solid #0FC6B5;
    color: whitesmoke;
    text-transform: capitalize;
    border-radius: 8px;
}
.btn:hover{
    background-color: #0FC6B5;
}
h1{
    color: #0FC6B5;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
    margin-top: 10px;
    size: 20px;
}

@media (max-width: 768px) {
    .carousel-caption {
    width: 80%;
    height: 200px;
    }
}

/* SECTION */
.image-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.imagenes{
        height: 300px;
        border-radius: 10px;
        max-width: 100%;
        
}
.imagenes:hover{
    border: black 5px solid;
    border-radius:10px ;
}

@media( max-width: 950px){
    .image-grid{
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
}
}
@media( max-width: 510px){
    .image-grid{
    grid-template-columns: 1fr;
    margin-left: 80px;
}
}
@media (max-width: 400px) {
    .carousel-caption{
    height: max-content;
    }
    .image-grid {
    grid-template-columns: 1fr;
    margin-left: 0;
    }
}


/* ARTICLE / MISION, VISION*/

.row{
padding-top: 20px;
align-items: center;
}
.size{
    font-size: 40px;
    padding-bottom: 20px;
    color:#0FC6B5 ;
    transition: transform 0.5s;
}
.size:hover{
    transform: scale(1.5);
}

h3{
    font-variant:normal;
    color: whitesmoke;
    padding-bottom: 10px;
    font-size:larger;
    padding-top: 10px;
}
h2{
color: #0FC6B5;
padding-bottom: 20px;
font-size: 20px;
text-transform: uppercase;
text-align: center;
font-family: 'Noto Sans', sans-serif
}
.cierre{
    height: 250px;
}
.col2{
    justify-content: center;
    display:flex;

}
.descrip{
    text-align: center;
    padding-top: 20px;
    width: 200px;
    display: block
}
.espacio{
    margin-top: 40px;
}

@media (max-width: 1379px){
    .descrip{
        padding-top: 0;
    }
}
@media (max-width: 1379px){
    .cierre{
        height: 280px;
    }
}

/* SECTION CTA */
.card{
    background-color: rgba(0, 0, 0, 0.950);
    margin-top: 10px;
    border: #0FC6B5 dotted 3px;
    border-radius: 30px;

}
section{
    margin-bottom: 20px;
    margin-top: 10px;
}

/* GALERIA */
.title2{
    /* border-bottom: #0FC6B5 3px double; */
    border: #0FC6B5 3px dotted;
    border-radius: 20px;
    margin-top: 50px;
    color:whitesmoke;
    text-align: center;
    padding-top: 20px;
}

.galeria{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
    grid-template-areas:
    "img1 img2 img3 img4"
    "img1 img5 img6 img6"
    "img1 img8 img6 img6";
}

.item{
    border: 5px solid black;
    border-radius: 20PX;
    overflow: hidden;
    transition: transform 0.3s;
}
.item:hover{
    transform: scale(1.1);
}
.video{
    height: 800px;
    width: 300px;
}
.item1{
    grid-area:img1;
    background-image: url(imagenes/SISMO-07-01.jpg);
    background-position: top;
    background-size: cover;

}
.item2{
    grid-area:img2 ;
    background-image: url(imagenes/hipertrust.png);
    background-position: center;
    background-size: cover;
}
.item3{
    grid-area:img3 ;
    background-image: url(imagenes/estirando.jpg);
    background-position: center;
    background-size: cover;
}
.item4{
    grid-area:img4 ;
    background-image:url(imagenes/SISMO-05.jpg) ;
    background-position: center;
    background-size: cover;
}
.item5{
    grid-area:img5 ;
    background-image:url(imagenes/pelota\ Sismo-01.jpg);
    background-position:TOP;
    background-size: cover;
}
.item6{
    grid-area:img6 ;
    background-image: url(imagenes/SISMO-02.jpg);
    background-position: top;
    background-size: cover;
}
.item7{
    grid-area:img7 ;
    background-image: url(imagenes/SISMO-04.jpg);
    background-position: center;
    background-size: cover;
}
.item8{
    grid-area:img8 ;
    background-image: url(imagenes/barra\ con\ peso.jpg);
    background-position: center;
    background-size: cover;
}

/* CONTACTANOS/MAPA */
h4{
    text-align: center;
    font-variant: small-caps;
    color: #0FC6B5;
}
.mapa{
    height: 600px;
    width: 100%;
    padding-top: 50px;
    border-radius: 5px;    
}
.nright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;ZCVx
    text-align: center;
}

form{
    text-align: start;
    padding: 20px;
    border-bottom: 3px,solid,back
    
}
.form1{
    width: 100%;
    border: #0FC6B5 2px solid;
    border-radius: 10px;
}
.tamaño{
    width: 100%;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
}
.desc{
    margin-right: 10px;
}
input,
textarea{
    display: block;
    padding: 10px;
    border: 2px solid ;
    border-radius: 3px;
    font-size: 15px;
    margin-bottom: 10px;

}

/* MEMBRESIA */
.title2{
    color: #0FC6B5;
    font-variant: small-caps;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #0FC6B5 solid 2px;
    margin-top: 0;
}
.planesdesc{
    color:#585F5E;
    font-weight: bold;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 600px;   
}
.fondo{
    background-image: url(imagenes/planes\ cortada.png);
    background-position: bottom;
    background-size: cover;
}
span{
    color: #0FC6B5;
}
.contenido{
    background-color: #0fc6b45d;
    border: #0FC6B5 3px solid;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    margin: 20px;
    margin-left: 100px;
    padding bottom: 15px; ;
}
.precio{
    color:#0FC6B5;
}
.lista{
    padding-top: 20px;
}
#btnplanes{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
@media (max-width: 635px){
    .planesdesc{
        width: 100%;
    }
}
@media (max-width: 986px){
    .contenido{
        justify-content: center;
        margin-left: 30px;
    }
}
@media (max-width: 704px){
    .contenido{
        justify-content: center;
        margin-left: 60px;
    }
}
@media (max-width: 392px){
    .contenido{
        margin-right: 10px;
        margin-left: 10px;
    }
}

/* INSTRUCTORES */

.fondonosotros{
    background-image: url(imagenes/tonos\ verdes.jpg);
    background-position: center;
    background-size:cover;
}
.persona{
    width: 300px;
    padding-top: 10px;
    gap: 10px;
}
.redes:hover{
    color: whitesmoke;
}

@media (max-width: 997px){
    .persona{
        width: 200px;
    }
}
/* CALENDARIO */

.calendario{
    background-color:rgba(0, 0, 0, 0.400) ;
    display: block;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.calendarioimg{
    margin-top: 20px;
    margin-left: 370px;
    border-radius: 20px;
}

.calendarioimg:hover{
    border: #0FC6B5 5px solid;
}

/* PRODUCTOS */

.productosmain{
    background-color:rgba(0, 0, 0, 0.400);
    width: 300px;
    height: 60px;
    padding-top: 15px;
    border-radius: 20px;
}


.productcard{
    border: #0FC6B5 6px solid;
    border-radius: 20px;
    height: 390px;
    display: inline-block;
    overflow: hidden;
    transition: transform 0.5s;
    margin: 10px 80px;
}

.productcard:hover{
    transform: scale(1.1);
}
.productype{
    text-align: left;
    padding-left: 10px;
}

.precio2{
    padding-left: 10px;
}

.imagen{
    height: 300px;
    border-radius: 15px 15px 0 0;
}

 /* FOOTER */

footer{
    margin-top: 40px;
    background-color: black;
    text-align: center;padding-top: 20px;
    height: 100px;
}

.redes{
    color: #0FC6B5;
    letter-spacing: 10px;
    size: 100px;
    justify-content: center;
}
