@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Noto+Serif+TC:wght@700&display=swap');

/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Noto Serif TC', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Noto Sans', sans-serif;
}

 /* HEADER */
.scrolled {
    background-color: black;
    transition: background-color 0.3s;
}

.logo{
    height: 70px;
    width: 70px;
    padding: 0;
}

.nav-link{
    font-variant: small-caps;
    margin-right: 20px;
    font-size: 25px;
    color:#0FC6B5 !important
}
.nav-link:hover{
    color: whitesmoke !important;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

body{
    margin:0;
    padding:0;
    background-color: rgba(0, 0, 0, 0.950);
    color: whitesmoke;
}
.social-buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.social-buttons a {
    margin-bottom: 10px;
    background-color:black;
    color: whitesmoke;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    width: 40px;
    height: 40px;
}

.social-buttons a:hover {
    background-color:#0FC6B5;
    color: black;
}

/* CARRUSEL/MAIN*/
.d-item img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;;
    width: 100%;
    object-fit: cover;
    filter: brightness(0,6);
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 180px;
    border-radius: 30px;
    padding: 10px;
}
.btn{
    margin-top: 10px;
    border: 3px solid #0FC6B5;
    color: whitesmoke;
    text-transform: capitalize;
    border-radius: 8px;
}
.btn:hover{
    background-color: #0FC6B5;
}
h1{
    color: #0FC6B5;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    font-size: xx-large;
    margin-top: 10px;
    size: 20px;
}

/* SECTION */
.image-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.imagenes{
    height: 300px;
    border-radius: 10px;
    max-width: 100%;

}
.imagenes:hover{
    border: black 5px solid;
    border-radius:10px ;
}

/* ARTICLE / MISION, VISION*/
.row{
padding-top: 20px;
align-items: center;
}
.size{
    font-size: 40px;
    padding-bottom: 20px;
    color:#0FC6B5 ;
}

h3{
    font-variant:normal;
    color: whitesmoke;
    padding-bottom: 10px;
    font-size:larger;
    padding-top: 10px;
}
h2{
color: #0FC6B5;
padding-bottom: 20px;
font-size: 20px;
text-transform: uppercase;
text-align: center;
font-family: 'Noto Sans', sans-serif
}

.cierre{
    max-width: 100%;
    height: auto;
    padding: 0;
}
.cierre1{
    max-width: 55%;
    height: auto;
}
.descrip{
    text-align: center;
    padding: 20px; 
    width: 100%;
}
.col2{
    justify-content: center;
    display:flex;
    align-items: center;

}
.espacio{
    margin-top: 40px;
}

/* SECTION CTA */
.card1{
    background-color: rgba(0, 0, 0, 0.950);
    margin-top: 10px;
    border: #0FC6B5 dotted 3px;
    border-radius: 30px;

}
section{
    margin-bottom: 20px;
    margin-top: 10px;
}

/* GALERIA */
.title2{
    /* border-bottom: #0FC6B5 3px double; */
    border: #0FC6B5 3px dotted;
    border-radius: 20px;
    margin-top: 50px;
    color:whitesmoke;
    text-align: center;
    padding-top: 20px;
}

.galeria{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
    grid-template-areas:
    "img1 img2 img3 img4"
    "img1 img5 img6 img6"
    "img1 img8 img6 img6";
}

.item{
    border: 5px solid black;
    border-radius: 20PX;
    overflow: hidden;
    transition: transform 0.3s;
}
.item:hover{
    transform: scale(1.1);
}
.video{
    height: 800px;
    width: 300px;
}
.item1{
    grid-area:img1;
    background-image: url(imagenes/sismo07.jpg);
    background-position: top;
    background-size: cover;

}
.item2{
    grid-area:img2 ;
    background-image: url(imagenes/hipertrust.png);
    background-position: center;
    background-size: cover;
}
.item3{
    grid-area:img3 ;
    background-image: url(imagenes/estirando.jpg);
    background-position: center;
    background-size: cover;
}
.item4{
    grid-area:img4 ;
    background-image:url(imagenes/sismo05.jpg) ;
    background-position: center;
    background-size: cover;
}
.item5{
    grid-area:img5 ;
    background-image:url(imagenes/club.jpeg);
    background-position:TOP;
    background-size: cover;
}
.item6{
    grid-area:img6 ;
    background-image: url(imagenes/sismo02.jpg);
    background-position: top;
    background-size: cover;
}
.item7{
    grid-area:img7 ;
    background-image: url(imagenes/sismo04.jpg);
    background-position: center;
    background-size: cover;
}
.item8{
    grid-area:img8 ;
    background-image: url(imagenes/pelota.jpg);
    background-position: top;
    background-size: cover;
}

/* CONTACTANOS/MAPA */
h4{
    text-align: center;
    font-variant: small-caps;
    color: #0FC6B5;
}
.mapa{
    height: 600px;
    width: 100%;
    padding-top: 50px;
    border-radius: 5px;
}
.nright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

form{
    text-align: start;
    padding: 20px;
    border-bottom: 3px,solid,back

}
.form1{
    width: 100%;
    border: #0FC6B5 2px solid;
    border-radius: 10px;
}
.tamaño{
    width: 100%;
}
label{
    font-weight: bold;
    margin-bottom: 5px;
}
.desc{
    margin-right: 10px;
}
input,
textarea{
    display: block;
    padding: 10px;
    border: 2px solid ;
    border-radius: 3px;
    font-size: 15px;
    margin-bottom: 10px;

}

/* MEMBRESIA */
.title2{
    color: #0FC6B5;
    font-variant: small-caps;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: #0FC6B5 solid 2px;
    margin-top: 0;
}
.planesdesc{
    color:#585F5E;
    font-weight: bold;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 600px;
}
.fondo{
    background-image: url(imagenes/planes\ cortada.png);
    background-position: bottom;
    background-size: cover;
}
span{
    color: #0FC6B5;
}
.contenido{
    background-color: #0fc6b45d;
    border: #0FC6B5 3px solid;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    margin: 20px;
    margin-left: 100px;
    padding-bottom: 15px;
}
.precio{
    color:#0FC6B5;
}
.lista{
    padding-top: 20px;
}
#btnplanes{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

/* INSTRUCTORES */

.card-container {
    margin-left: 90px;
    display: inline-flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    
}
.card{
    background-color: black;
    border: #0FC6B5 3px dotted;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
}
.fondonosotros{
    background-image: url(imagenes/tonos\ verdes.jpg);
    background-position: center;
    background-size:cover;
}
.persona{
    width:350px;
    height: auto;
}
.redes:hover{
    color: whitesmoke;
}


/* CALENDARIO */
.title1{
    color: #585F5E;
}
.fondohorario{
    background-image: url(imagenes/reloj.jpeg);
    background-position: center;
    background-size: cover;
}
.calendario{
    background-color:rgba(0, 0, 0, 0.400) ;
    display: block;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.calendarioimg{
    margin-top: 20px;
    margin-left: 370px;
    border-radius: 20px;
}

.calendarioimg:hover{
    border: #0FC6B5 5px solid;
}

/* PRODUCTOS */

.fondoproduct{
    background-image: url(imagenes/productos.png);
    background-position: top;
    background-size: cover;

}
.productosmain{
    background-color:rgba(0, 0, 0, 0.400);
    width: 300px;
    height: 60px;
    padding-top: 15px;
}

 /* FOOTER */

footer{
    margin-top: 40px;
    background-color: black;
    text-align: center;padding-top: 20px;
    height: 100px;
}

.redes{
    color: #0FC6B5;
    letter-spacing: 10px;
    size: 100px;
    justify-content: center;
}

/* MEDIA QUERIES */

/* CARRUSEL */
@media (max-width: 768px) {
    .carousel-caption {
    width: 80%;
    height: 200px;
    }
}

/* SECTION */
@media( max-width: 950px){
    .image-grid{
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
}
}
@media( max-width: 510px){
    .image-grid{
    grid-template-columns: 1fr;
    margin-left: 60px;
}
}
@media (max-width: 420px) {
    .carousel-caption{
    height: max-content;
    }
    .image-grid {
    grid-template-columns: 1fr;
    margin-left: 20px;
    }
}

/* ARTICLE/MISION/VISION */
@media (max-width: 1379px){
    .descrip{
        padding-top: 0;
    }
    .cierre,
    .cierre1{
        height: 280px;
    }
}
@media (max-width: 1038px){
    .entrenamiento{
        width: 50%;
        margin-left: 70px;
    }px
}
@media (max-width: 904px){
.instruct{
    width: 50%;
    margin-left: 60px;
}
}
@media (max-width: 766px){
    .entrenamiento,
    .instruct{
margin: 0 0 16px;
width: 100%;
    }
}
@media (max-width: 510px){
    .row{
        gap: 0;
        padding: 0;
        width: 100%;
    }
    .col2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
}
.cierre,.cierre1{
        display: none;
}
.descrip{
    margin-top: 20px;
    margin-bottom: 10px;
}
}


/* GALERIA */
@media only screen and (max-width: 780px){
.galeria{
    grid-template-columns:repeat(1fr 1fr 1fr);
    margin: 0;
}
.item3{
    grid-column: 1/4;
    grid-row: 1/2;
}
.item1{
    grid-row: 2/4;
}
.item5 {
    grid-column: 2/4;
    grid-row: 2/3;
}
.item6{
    grid-column: 4/5;
    grid-row: 2/3;
}
.item8{
    grid-column:2/6;
    grid-row:3/6 ;
}
}
@media only screen and (max-width: 445px){
.galeria{
    grid-template-columns: 1fr 1fr;
}
.item3{
    grid-column: 2/3;
}
.item4{
    grid-column: 1/1;
}
.item5{
    background-position: left;
    }
.item6 {
    display: none;
}   
}

/* MEMBRESIA */
@media (max-width: 635px){
    .planesdesc{
        width: 100%;
    }
}
@media (max-width: 986px){
    .contenido{
        justify-content: center;
        margin-left: 30px;
    }
}
@media (max-width: 704px){
    .contenido{
        justify-content: center;
        margin-left: 60px;
    }
}
@media (max-width: 392px){
    .contenido{
        margin-right: 10px;
        margin-left: 10px;
    }
}
 /* INSTRUCTORES */
@media (max-width: 1010px) {
    .card {
        width: auto;
    }
    .card-container {
        width: 100%;
        justify-content: center; 
    }
}

@media (max-width: 803px) {
    .card-container {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 444px) {
    .card-container {
        width: 100%;
        justify-content: center; +
        margin-left: 0;
    }
    .card {
        width: auto;
    }
}

@media (max-width: 364px) {
    .card-container {
        margin-left: 0;
        justify-content: center;
        margin-left: 0; 
    }
}

/* CALENDARIO */
@media only screen and (max-width: 1300px){
    .calendarioimg{
        margin-left: 150px;
    }
}
@media only screen and (max-width: 1040px){
    .calendarioimg{
        margin-left: 50px;
    }
}
@media only screen and (max-width: 923px){
    .calendarioimg{
        width: 75%;
    }
}

/* PRODUCTOS */
@media only screen and (max-width: 479px){
    .productcard{
        width: 60%;
        overflow: hidden;
        height: max-content;
    }
}
@media only screen and (max-width: 479px){
    .productcard{
        width: 250px;
        overflow: hidden;
        height: max-content;
    }
}
@media only screen and (max-width: 415px){
    .productcard{
        width: 250px;
    } 
}
@media only screen and (max-width: 385px){
    .productcard{
        margin-left: 30px;
    } 
}
@media only screen and (max-width: 320px){
    .productcard{
        width: 280px;
        margin-left: 15px;
    } 
}